<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
  <h1>Welcome to Tiny App!</h1>
  <h2>Please Login/Register</h2>
  <form method='GET' action='/login'>
    <input type='submit' value='Login!!'>
  </form>
  <form method='GET' action='/register'>
    <input type='submit' value='Register!'>
  </form>
</body>
</html>



