<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App - This is the window title!</title>
</head>
<body>
   <h1>Welcome to Tiny App!</h1>
   <h2>This is the homepage!</h2>
   <p>If you would like to see a full length URL, enter the shortened URL into the address bar as shown below:</p>
   <p>http://localhost:8080/SHORTENED_URL</p>


</body>
</html>