<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% for (let key in urls){ %>
    <h2>For the Website: <%=urls[key]%></h2>
    <p>We can use the shortened url: <%=key %></p>
    <% } %>


</body>
</html>