<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <p>Shortened URL: <%= shortURL %></p>
    <form method='POST' action = '/urls/<%= shortURL %>'>
      <input type='text' name='longURL' value='<%= longURL%>'>
      <input type='submit' value='Update!'>
    </form>
</body>
</html>


