<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <p>Shortened URL: <%= shortUrl %></p>
    <form method='POST' action = '/urls/<%= shortUrl %>'>
      <input type='text' name='longURL' value='<%= longUrl%>'>
      <input type='submit' value='Update!'>
    </form>
</body>
</html>


